@import "variables";
*,
*:after,
*:before {
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: $font-size-default;
  background: $body;
  line-height: $global-line-height;
  color: $text-default;
}


/* Text Size */

.#{$pre}text-xxs {
  font-size: $font-size-xxs;
}

.#{$pre}text-xs {
  font-size: $font-size-xs;
}

.#{$pre}text-sm {
  font-size: $font-size-sm;
}

.#{$pre}text-default {
  font-size: $font-size-default;
}

.#{$pre}text-lg {
  font-size: $font-size-lg;
}

.#{$pre}text-xl {
  font-size: $font-size-xl;
}

.#{$pre}text-xxl {
  font-size: $font-size-xxl;
}


/* Text Color */

.#{$pre}text-primary {
  color: $primary;
}

.#{$pre}text-success {
  color: $success;
}

.#{$pre}text-warning {
  color: $warning;
}

.#{$pre}text-danger {
  color: $danger;
}


/* Text Align */

@each $dir in left,
center,
right {
  .#{$pre}text-#{$dir} {
    text-align: $dir !important;
  }
}


/* Float */

.#{$pre}fl {
  float: left;
}

.#{$pre}fr {
  float: right;
}

.#{$pre}cf:after,
.#{$pre}cf:before {
  content: " ";
  display: table;
}

.#{$pre}cf:after {
  clear: both;
}

.#{$pre}il {
  display: inline;
}

.#{$pre}ilk {
  display: inline-block;
}


/* Margin */

@each $dir in top,
right,
bottom,
left {
  @each $size,
  $value in (sm: $spacing-sm, default: $spacing-default, lg: $spacing-lg, xl: $spacing-xl, xxl: $spacing-xxl) {
    @if $size==default {
      .#{$pre}margin-#{$dir} {
        margin-#{$dir}: #{$value};
      }
    }
    @else {
      .#{$pre}margin-#{$dir}-#{$size} {
        margin-#{$dir}: #{$value};
      }
    }
  }
}

@each $size,
$value in (sm: $spacing-sm, default: $spacing-default, lg: $spacing-lg, xl: $spacing-xl, xxl: $spacing-xxl) {
  @if $size==default {
    .#{$pre}margin {
      margin: #{$value};
    }
    .#{$pre}margin-vertical {
      margin-top: #{$value};
      margin-bottom: #{$value};
    }
    .#{$pre}margin-horizontal {
      margin-left: #{$value};
      margin-right: #{$value};
    }
  }
  @else {
    .#{$pre}margin-#{$size} {
      margin: #{$value};
    }
    .#{$pre}margin-vertical-#{$size} {
      margin-top: #{$value};
      margin-bottom: #{$value};
    }
    .#{$pre}margin-horizontal-#{$size} {
      margin-left: #{$value};
      margin-right: #{$value};
    }
  }
}


/* Padding */

@each $dir in top,
right,
bottom,
left {
  @each $size,
  $value in (sm: $spacing-sm, default: $spacing-default, lg: $spacing-lg, xl: $spacing-xl, xxl: $spacing-xxl) {
    @if $size==default {
      .#{$pre}padding-#{$dir} {
        padding-#{$dir}: #{$value};
      }
    }
    @else {
      .#{$pre}padding-#{$dir}-#{$size} {
        padding-#{$dir}: #{$value};
      }
    }
  }
}

@each $size,
$value in (sm: $spacing-sm, default: $spacing-default, lg: $spacing-lg, xl: $spacing-xl, xxl: $spacing-xxl) {
  @if $size==default {
    .#{$pre}padding {
      padding: #{$value};
    }
    .#{$pre}padding-vertical {
      padding-top: #{$value};
      padding-bottom: #{$value};
    }
    .#{$pre}padding-horizontal {
      padding-left: #{$value};
      padding-right: #{$value};
    }
  }
  @else {
    .#{$pre}padding-#{$size} {
      padding: #{$value};
    }
    .#{$pre}padding-vertical-#{$size} {
      padding-top: #{$value};
      padding-bottom: #{$value};
    }
    .#{$pre}padding-horizontal-#{$size} {
      padding-left: #{$value};
      padding-right: #{$value};
    }
  }
}


/* Border */

@each $dir in top,
right,
bottom,
left {
  @each $size,
  $value in (min: $spacing-min, sm: $spacing-sm, default: $spacing-default, lg: $spacing-lg, xl: $spacing-xl, xxl: $spacing-xxl) {
    @if $size==default {
      .#{$pre}border-#{$dir} {
        border-#{$dir}: #{$value} solid;
      }
    }
    @else {
      .#{$pre}border-#{$dir}-#{$size} {
        border-#{$dir}: #{$value} solid;
      }
    }
  }
}

@each $size,
$value in (min: $spacing-min, sm: $spacing-sm, default: $spacing-default, lg: $spacing-lg, xl: $spacing-xl, xxl: $spacing-xxl) {
  @if $size==default {
    .#{$pre}border {
      border: #{$value};
    }
    .#{$pre}border-vertical {
      border-top: #{$value};
      border-bottom: #{$value};
    }
    .#{$pre}border-horizontal {
      border-left: #{$value};
      border-right: #{$value};
    }
  }
  @else {
    .#{$pre}border-#{$size} {
      border: #{$value};
    }
    .#{$pre}border-vertical-#{$size} {
      border-top: #{$value};
      border-bottom: #{$value};
    }
    .#{$pre}border-horizontal-#{$size} {
      border-left: #{$value};
      border-right: #{$value};
    }
  }
}